.ant-select.search-input.ant-select-auto-complete.ant-select-single.ant-select-customize-input.ant-select-show-search {
  width: 400px;
  padding: 10px;
}
span.location-input.ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
  width: 400px;
  padding: 6px 10px;
}
