# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
/build

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

build/
dist/
node_modules/